numpy==1.19.4
python-igraph==0.8.3
scipy==1.5.4
PyAstronomy==0.15.2
PyQt5==5.14.0
vtk==8.1.2
scikit-build==0.11.1
pandas==1.1.4
tqdm==4.52.0
seaborn==0.11.0
toml==0.10.2
llvmlite==0.33.0
numba==0.50.0
networkx==2.5